@font-face {
    src: url(../font/ReemKufi-Regular.ttf);
    font-family: reem;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: reem;
    background: url(../images/environment.jpg) ;
    background-position: center;
}
.container{
    width: 80%;
    margin: 50px auto;
    height: 500px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.816);
    border-radius: 10px;
}
.container .left{
    width: 100%;
}
.container .left .head{
    width: 100%;
}
.container .left .head a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .left .head img{
    width: 20%;
    margin-top: 20px;
}
.container .left .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.container .left .title h1{
    font-size: x-large;
    color: #D79845;
}
.container .left .form{
    width: 80%;
    margin: 20px auto;
}
input[type=text],[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: small;
}
input[type=submit] {
    width: 100%;
    margin-top: 15px;
    padding: 15px 45px;
    text-align: center;
    border-radius: 4px;
    border: none;
    display: block;
    font-size: 1em;
    background: #f7a11f;
    color: white;
    font-weight: 550;
}
.copy{
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy p{
    font-size: 1em;
    color: rgb(30, 14, 14);
    font-weight: 600;
    background-color: rgb(211, 182, 182);
    padding: 5px;
    border-radius: 5px;
}
.copy p a{
    text-decoration: none;
    color: #fa9600;
    font-weight: 600;
}
  